<h1>Listing Products</h1>
<table>
  <thead>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.first_name %></td>
      <td><%= product.last_name %></td>
      <td><%= product.email %></td>
    </tr>
  <% end %>  
  </tbody>
</table>